            /* main css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body, header{
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
    --light-bg-color: #f7f9fc;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.sub-title {
    font-size: 16px;
    list-style: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.theme-button {
    transition: all 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    margin: 0;
    font-size: 14px;
    padding: 0 30px;
    text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .theme-button {
    line-height: 44px;
    padding: 0px 20px; }
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}
#navbarNavAltMarkup .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 25%);
}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
.w3l-index3 .btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);
}
img.img-curve {
    border-radius: var(--card-curve);
    transition: all 0.3s ease-in-out;
}
img.img-curve:hover {
    transform: var(--transformY);
}
p {
    color: var(--text-color);
}
.breadcrumbs {
    margin-top: 90px;
    padding: 20px 0;
}
header.nav-fixed {
    padding: 0px;
    background-color: #fff;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    transition: all 0.25s ease-in-out;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.navbar{
   padding: 0;
}
/* end main css */




            /* pull-right */
.pull-right{
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}
.toggle-right-sidebar span{
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}
#right-sidebar{
    width: 90px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 60px;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}
#w3lDemoBar.w3l-demo-bar{
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns{
    border-top: 1px solid #41414d;
    padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar a{
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}
#w3lDemoBar.w3l-demo-bar a:hover{
    opacity: 1;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon{
    display: block;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
/* end pull-right */



            /* header */

header{
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    transition: all 0.4s ease 0s;
    
}
.navbar .navbar-brand{
    padding: 0;
    color: var(--primary);
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -1px;
}
ul.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item{
    margin: 0 6px;
}
.navbar-nav a.nav-link{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    transition: all 0.25s linear;

}
.navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 8px;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: all .25s linear;
}
.navbar-nav .nav-link:hover::before{
    width: 20px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary);
}
.navbar-light .navbar-nav .nav-link.active{
    color: var(--primary);
}
.dropdown-toggle::after{
    transform: translateY(2px);
}
.navbar-light .navbar-toggler-icon{
    background-image: none;
}
.navbar-nav .nav-item:nth-child(4){
    position: relative;
}
.navbar-nav .dropdown-menu{
    position: absolute;
    top: 100%;
    left: -55px;
    z-index: 99999;
    margin: 10px 0 0; 
    font-size: 16px;
    color: var(--title-color);
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    cursor: pointer;
}


.navbar-nav .dropdown-menu::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    top: -8px;
    left: 50%;
    z-index: 1001;
}
a.dropdown-item{
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
    transition: all .25s linear;
}
a.dropdown-item:hover{
    color: var(--primary);
}
a.nav-link:before, a.dropdown-item:before{
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .3s linear;
}
a.dropdown-item:hover::before{
    width: 12%;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: transparent;
    color: #212529;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: var(--primary);
}
            /* end header */



            /* index1 */
.w3l-index1{
    margin-top: 90px;
}
.w3l-index1 .content{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.90)), url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
}
.w3l-index1 .content-photo img{
    transform: rotate(180deg);
}
.w3l-index1 .content-left h3{
    font-size: 50px;
    line-height: 58px;
    color: var(--title-color);
    font-weight: 700;
}
.w3l-index1 .content-left p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
    color: var(--text-color);
}
.w3l-index1 .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.header-section{
    max-width: 750px;
    margin: 0 auto;

}
.sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.header-section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin: 0 auto;
}
.w3l-index2 .s-block{
    border-radius: var(--card-curve);
    background-color: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
    transition: all 0.3s ease-in;
}
.w3l-index2 .s-block:hover{
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}
.w3l-index2 .s-block h3{
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}
.w3l-index2 .s-block p{
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}



            /* w3l-index3 */

.w3l-index3{
    background-color: var(--light-bg-color);
}
.w3l-index3 .book-info h3{
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}
.w3l-index3 .book-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
}



            /* w3l-index4 */

.w3l-index4 .new-block{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;  
    padding: 2rem 0;
}
.w3l-index4 .middle-section{
    max-width: 550px;
}
.w3l-index4 .middle-section h2{
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-index4 .link-list-menu p{
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}



            /* w3l-stats */

.w3l-stats{
    background-color: var(--light-bg-color);
}
.w3l-stats .stats__info{
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s ease;
    border: 1px solid #eee;
}
.w3l-stats .stats__info h4{
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}
.w3l-stats p.counter{
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}



            /* .w3l-index5  */

.header-section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.w3l-index5 .grids5-info{
    border-radius: var(--card-curve);
    display: block;
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
}
.w3l-index5 .grids5-info:hover{
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}
.w3l-index5 .grid-view a.zoom{
    border-top-left-radius: var(--card-curve);
    border-top-right-radius: var(--card-curve);
}
.w3l-index5 a.zoom{
    overflow: hidden; 
    position: relative;
}
.w3l-index5 .grid-view .grids5-info img{
    width: 100%;
    display: block;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
}
.w3l-index5 .grids5-info:hover img{
    filter: grayscale(0);
}
.w3l-index5 .grid-view .grids5-info p{
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.w3l-index5 .grid-view p.date{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary);
    padding: 15px;
}
.w3l-index5 .blog-info{
    background-color: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.w3l-index5 label.tag-label.red{
    background-color: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}
.w3l-index5 label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.w3l-index5 label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}
.w3l-index5 label.tag-label{
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.w3l-index5 .grid-view .grids5-info h4 a{
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    display: block;
    font-weight: 600;
}
.w3l-index5 .grids5-info:hover div.blog-info h4 a{
    color: var(--primary);
}
.w3l-index5 a.btn-news{
    color: var(--primary);
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.w3l-index5 a.btn-news:hover{
    transition: all 0.3s ease-in-out;
    color: var(--primary);
}
.w3l-index5 a.btn-news span{
    font-size: 60%;
    vertical-align: middle;
    position: absolute;
    right: -5px;
    top: 15.5px;
    transition: all 0.3s ease-in;
}
.w3l-index5 .grids5-info:hover a.btn-news span{
    right: -10px;
}



            /* .w3l-faq-block */

.w3l-faq-block{
    background-color: var(--light-bg-color);
}
.w3l-faq-block .w3l-faq ul{
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.w3l-faq-block .w3l-faq ul li{
    position: relative;
    padding: 25px 50px 25px 20px;
    background-color: #fff;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;

}
.w3l-faq-block .w3l-faq ul li i{
    position: absolute;
    transform: translate(-6px ,0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}
.w3l-faq-block .w3l-faq ul li i:before, .w3l-faq-block .w3l-faq ul li i:after{
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}
.w3l-faq-block .w3l-faq ul li i:before{
    transform: translate(-2px, 0) rotate(45deg);
    transition: all 0.25s ease-in-out;
}
.w3l-faq-block .w3l-faq ul li i:after{
    transform: translate(2px, 0) rotate(-45deg);
    transition: all 0.25s ease-in-out;

}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i::before{
    transform: translate(2px, 0) rotate(45deg);
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ i:after{
    transform: translate(-2px, 0) rotate(-45deg);
}
.w3l-faq-block .w3l-faq h2{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    cursor: pointer;
    color: var(--title-color);
}
.w3l-faq-block .w3l-faq p{
    color: var(--title-color);
    line-height: 24.5px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 17px;
    margin-bottom: 0;
    z-index: 3; 
    transition: all 0.25s ease-in-out;
}
.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked ~ p{
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}



            /* .w3l-products */

.nav-tabs{
    border-bottom: none;
}
#parentHorizontalTab ul li {
    margin: 0;
    cursor: pointer;
    width: calc(100% / 3);
    background-color: #fff !important;  
}
#parentHorizontalTab ul li .nav-link{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 22px; 
    color: #4E5B61;
    border-bottom: 3px solid #eee;
}
#parentHorizontalTab ul li .nav-link.active{
    color: var(--primary);
    border-bottom: 3px var(--primary) solid !important;
}
.w3l-products .products-content{
    margin: 20px 0;
    padding: 15px;
}
.w3l-products .products-content h3{
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-products .products-content p{
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus{
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}



    /* .w3l-testimonials */

.w3l-testimonials .testimonials{
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}



            /* owl-carousel */

.w3l-testimonials .slider-info{
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    background-color: #fff;
    border-radius: var(--card-curve);
}
.w3l-testimonials .img-circle{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background-color: #f3f6f9;
    border-radius: 50%;
    border: 4px solid var(--primary);
}
.w3l-testimonials .img-circle img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.w3l-testimonials .message{
    position: relative;
}
.w3l-testimonials .message span{
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: -40px;
    right: 0;
}
.w3l-testimonials .message p{
    font-size: 18px;
    line-height: 26px;
    color: var(--title-color);
}
.w3l-testimonials .name h4{
    font-size: 18px;
    color: var(--primary);
    font-weight: 400;
}
.w3l-testimonials .name p{
    font-size: 13px;
    color: var(--text-color);
}
.owl-theme .owl-nav{
    display: none;
}
.owl-theme .owl-dots{
    text-align: center;
    margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--primary);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);;
}



            /* .w3l-footer */
            
.w3l-footer .w3l-footer-16-main.py-5{
    background-color: var(--light-bg-color);
}
.w3l-footer ul{
    padding: 0;
}
.w3l-footer .w3l-footer-16-main h3{
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .footer-gd-16 li{
    display: block;
    margin: 10px 0;
}
.w3l-footer .footer-gd-16 li a{
    text-align: left;
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}
.w3l-footer .w3l-footer-16-main h3 a:hover, .w3l-footer .footer-gd-16 li a:hover, .w3l-footer .w3l-footer-16-main p a:hover{
    opacity: 0.8;
    color: var(--primary);
}
.w3l-footer .end-column{
    background-color: #fff;
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.w3l-footer .w3l-footer-16-main h3{
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .w3l-footer-16-main h4{
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input[type="email"]{
    width: 78%;
    font-size: 16px;
    border: none;
    outline: none;
    background: var(--light-bg-color);
    padding: 12px 20px;
    color: var(--title-color);
    font-weight: 600;
    border-radius: var(--card-curve);
}
.w3l-footer .subscribe button{
    font-size: 16px;
    width: 20%;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    border-radius: var(--card-curve);   
}
.w3l-footer .w3l-footer-16-main p{
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}

.w3l-footer .below-section, .w3l-footer .para-content-footer{
    border-top: 1px solid #eaeaea;
}
.w3l-footer .w3l-footer-16-main p{
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}
.w3l-footer .w3l-footer-16-main p a{
    color: var(--title-color);
}
.w3l-footer .w3l-footer-16-main h3 a:hover, .w3l-footer .footer-gd-16 li a:hover, .w3l-footer .w3l-footer-16-main p a:hover{
    opacity: 0.8;
    color: var(--primary);
}
.w3l-footer ul.social li, .w3l-footer ul.jst-link li{
    display: inline-block;
    margin-right: 5px;
}
.w3l-footer ul.social li a{
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: all .3s ease;
}
.w3l-footer ul.social li a:hover{
    color: var(--primary);
}
.w3l-footer ul.social li a span{
    font-size: 15px;
    line-height: 36px;
}

#sroll-up{
    position: fixed;
    top: 85%;
    right: 10px;
    z-index: 999999;
    background-color: var(--primary);
    padding: 10px 20px;
    opacity: .7;
    color: #fff;
    cursor: pointer; 
}
.fa-solid, .fas{
    color: #fff;
}
#sroll-up a{
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
a:hover{
    color: #fff;
}
@media screen and (min-width: 1200px) {
    .scroll1{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .scroll2{
        display: block;
    }
}
@media screen and (max-width: 1199px) {
    .scroll1{
        display: none;
    }
}
@media screen and (min-width: 375px) {
    .scroll2{
        display: block;
    }
}



            /*reponsive - container*/
.container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    
}
@media screen and (min-width: 576px){
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px){
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 992px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; 
      
    } 
}
  
@media screen and (min-width: 1200px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto;    
    } 
}
  
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1200px;    
    } 
}



            /* reponsive - 991px*/

@media screen and (max-width: 991px){
    header {
        height: auto;
        padding: 15px 0;
    }
    header.nav-fixed{
        height: auto;
        padding: 10px 0;
    }
    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .navbar-toggler {
        padding: 0rem 0rem !important;
        border: 0 none;
        font-size: 24px;
    }
    button:focus:not(:focus-visible){
        outline: 5px auto -webkit-focus-ring-color;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler-icon{
        color: #fff;
        line-height: 1.2em;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }
    .navbar-toggler-icon{
        color: #fff;
        line-height: 1.2em;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }
    .w3l-footer .below-section {
        display: block !important;
    }
    .w3l-footer .columns-2 {
        text-align: center;
    }
    .w3l-footer .w3l-footer-16-main .row .col-lg-6 .col-md-4 {
        text-align: center;
    }
}        







@media screen and (max-width: 800px) {
  .header-section h3 {
    font-size: 40px;
    line-height: 50px; 
    }
  .header-section h2 {
    font-size: 40px;
    line-height: 50px; 
    } 
}

@media screen and (max-width: 667px) {
  .header-section h3 {
    font-size: 32px;
    line-height: 42px; 
    }
  .header-section h2 {
    font-size: 36px;
    line-height: 42px; 
    } 
}














/* @media only screen and (max-width: 991px){
    header {
        height: auto;
        padding: 15px 0;
    }

} */
/* @media only screen and (max-width: 991px){
    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

} */
/* @media only screen and (max-width: 991px){
    .navbar-toggler {
        padding: 0rem 0rem !important;
        border: 0 none;
        font-size: 24px;
    }
    button:focus:not(:focus-visible){
        outline: 5px auto -webkit-focus-ring-color;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }

} */
/* @media only screen and (max-width: 991px){
    .navbar-toggler-icon{
        color: #fff;
        line-height: 1.2em;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }

} */

/* @media screen and (max-width: 991px){
    .w3l-footer .below-section {
        display: block !important;
    }
} */
/* @media screen and (max-width: 991px){
    .w3l-footer .columns-2 {
        text-align: center;
    }
} */
/* @media screen and (max-width: 991px){
    .w3l-footer .w3l-footer-16-main .row .col-lg-6 .col-md-4 {
        text-align: center;
    }
} */